* {
  box-sizing: border-box;
  margin: 0;
}

.mainDiv {
  width: 100%;
  min-height: 100vh;
}

.mainDiv .containerPage {
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
  padding: 16px;
}

.mainDiv .flexGridPage {
  display: flex;
  align-items: center;
  gap: 60px;
  min-height: 100vh;
}

.bothDiv {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 50px auto;
}

.leftDiv {
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 20px;
}

.rightDiv {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 20px;
}

.mainHome {
  background: #212529;
  min-height: 100vh;
}

.mainHome .container {
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
  padding: 16px;
}

.mainHome .flexGrid {
  display: flex;
  align-items: center;
  gap: 60px;
  min-height: 100vh;
}

.leftBox {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

.imgBox {
}

.rightBox {
  width: 100%;
}

.mainHome .textTitle {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  color: #ffffff;
  max-width: 400px;
}

.text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  line-height: 36px;
}

.btnStart {
  width: 100%;
  max-width: 340px;
  height: 48px;
  background: #fd377e;
  border: 2px solid #fd377e;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

@media (max-width: 900px) {
  .mainHome .flexGrid {
    flex-direction: column;
  }

  .mainHome .leftBox {
    align-items: center;
  }

  .mainHome .rightBox {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .bothDiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .leftDiv {
    width: 100%;
    max-width: 550px;
  }

  .rightDiv {
    width: 90%;
    margin-top: 50px;
    max-width: 550px;
  }
}

@media (max-width: 425px) {
  .mainHome {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .leftBox {
    margin-top: 50px;
  }

  .btnStart {
    width: 90%;
  }

  .bothDiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
  }

  .leftDiv {
    width: 100%;
  }

  .rightDiv {
    margin-top: 50px;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .leftDiv {
    width: 100%;
  }

  .rightDiv {
    width: 100%;
  }

  .bothDiv {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .leftDiv {
    width: 100%;
  }

  .rightDiv {
    width: 100%;
  }

  .bothDiv {
    width: 100%;
  }
}
